<!-- begin #page-title -->
<div id="page-title" class="page-title has-bg">
    <div class="bg-cover"><img src="~/src/Images/Img/cover7.jpg" alt="" /></div>
    <div class="container">
        <h1>LifeBlog</h1>
        <p>用文字记录生活点滴</p>
    </div>
</div>
<!-- end #page-title -->
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin container -->
    <div class="container">
        <!-- begin row -->
        <div class="row row-space-30">
            <!-- begin col-8 -->
            <div class="col-md-8">
                <!-- begin section-container -->
                <div class="section-container">
                    <div class="post-image">
                        <img src="~/src/Images/img/about-me.jpg" alt="" />
                    </div>
                </div>
                <!-- end section-container -->
            </div>
            <!-- end col-8 -->
            <!-- begin col-4 -->
            <div class="col-md-4">
                <!-- begin section-container -->
                <div class="section-container">
                    <h3 class="text-inverse">关于我</h3>
                    <p class="about-me-desc">关于我 关于我 你知道什么</p>
                    <p class="about-me-desc">我的快乐 我的忧伤 我的理想和寂寞</p>
                    <p class="about-me-desc">关于我 关于我 你知道什么</p>
                    <p class="about-me-desc">我的去处 我的过程和结束</p>
                    <p class="about-me-desc">关于我 啊 我 关于我 啊 我</p>
                    <h3 class="text-inverse">关于本站</h3>
                    <p class="about-me-desc">LifeBlog--用文字记录过去现在和未来生活的点点滴滴！</p>
                    <p class="about-me-desc">本站源代码地址：<a href="https://github.com/wintoner/LifeBlog" target="_blank">https://github.com/wintoner/LifeBlog</a></p>
                </div>
                <!-- end section-container -->
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end #content -->
